# Na aula passada...

Crie uma função que recebe uma quantidade indefinida de parâmetros e cria um arquivo chamado cadastro_xx.txt, onde xx é o próximo número da sequência de arquivos já existente (se não existir nenhum arquivo, cria o cadastro_00.txt; se já existir o cadastro_00.txt, cria o cadastro_01.txt; e assim por diante). Nesse arquivo deverá ser armazenado um parâmetro por linha, chave e valor, separados por vírgula.

In [72]:
import os

def cadastro(**kwargs):
    
    lista_interesse = []
    lista_numeros = []

    for arq in os.listdir():
        if 'cadastro_' in arq:
            lista_interesse.append(arq)
            
    if len(lista_interesse) == 0:
        numero_arq = 0
    else:
        for arq in lista_interesse:
            numero_arq = arq.replace('cadastro_', '').replace('.txt', '')
            numero_arq = int(numero_arq)
            lista_numeros.append(numero_arq)
        numero_arq = max(lista_numeros) + 1
    
    with open(f'cadastro_{numero_arq}.txt', 'w') as f:
    
        for chave, valor in kwargs.items():
            string_saida = f'{chave},{valor}\n'
            f.write(string_saida)

In [70]:
cadastro(nome = 'joao', idade = 35, sexo = 'm')

In [71]:
cadastro(nome = 'maria', idade = 40, sexo = 'f')

In [73]:
cadastro(nome = 'andré', idade = 29, sexo = 'm')

# Hoje!

O que podemos fazer para representar um funcionário de uma empresa?

In [74]:
nome = 'rychard'
matricula = 123
idade = 27
data_admissao = '01/01/2021'
salario_hora = 10
horas_trabalhadas_mes = 20

In [ ]:
nome_2 = 'joao'
matricula_2 = 456
idade_2
data_admissao_2

Será que existe uma forma de criar uma variável única que represente um funcionário?

In [75]:
funcionario_1 = ['rychard', 123, 27, '01/01/2021', 10, 20]
funcionario_2 = ['joao', 456, 30, '01/01/2019', 10, 20]

Como calcular o salário mensal?

In [76]:
funcionario_1[4] * funcionario_1[5]

200

Podemos usar programação orientada a objetos para nos auxiliar nesse processo!

In [84]:
x = 'abc'
y = 'xyz'

print(x)
print(y)

x = x.upper()

print(x)
print(y)

abc
xyz
ABC
xyz

In [97]:
class Funcionario:
    
    nome = 'rychard'
    matricula = 123
    idade = 27
    data_admissao = '01/01/2021'
    salario_hora = 10
    horas_trabalhadas_mes = 20

In [98]:
f1 = Funcionario()
f2 = Funcionario()

In [99]:
print(f1.nome)
print(f1.salario_hora)
print(f1.idade)

print(f2.nome)
print(f2.salario_hora)
print(f2.idade)

rychard
10
27
rychard
10
27

In [100]:
f2.nome = 'joao'

In [101]:
print(f1.nome)
print(f1.salario_hora)
print(f1.idade)

print(f2.nome)
print(f2.salario_hora)
print(f2.idade)

rychard
10
27
joao
10
27

Passando atributos na construção de um objeto usando o `__init__()`

In [ ]:
nome = 'rychard'
matricula = 123
idade = 27
data_admissao = '01/01/2021'
salario_hora = 10
horas_trabalhadas_mes = 20

In [112]:
class Funcionario:
    
    def __init__(self, nome, matricula, idade, da, sh, htm):
        self.nome = nome
        self.matricula = matricula
        self.idade = idade
        self.data_admissao = da
        self.salario_hora = sh
        self.horas_trabalhadas_mes = htm

In [111]:
f1 = Funcionario('rychard', 123, 27, '01/01/2021', 10, 20)
f2 = Funcionario('joao', 456, 30, '01/01/2019', 10, 20)

In [107]:
print(f1.nome)
print(f1.salario_hora)
print(f1.idade)

print(f2.nome)
print(f2.salario_hora)
print(f2.idade)

rychard
10
27
joao
10
30

**Para exercitar**: Crie uma classe Retângulo cujos atributos são lado_a e lado_b. Em seguinda, crie um objeto dessa classe e mostre na tela o lado_a e lado_b.

In [108]:
class Retangulo:
    
    def __init__(self, lado_a, lado_b):
        self.lado_a = lado_a
        self.lado_b = lado_b

In [109]:
r1 = Retangulo(2, 9)
print(r1.lado_a)
print(r1.lado_b)

2
9

Quando alteramos os atributos de um objeto, estamos alterando apenas do objeto! Para exemplificar, podemos criar um atributo chamado `reuniao`. Caso verdadeiro, significa que a pessoa está em reunião, e que não está em reunião caso seja falso.

In [130]:
class Funcionario:
    
    def __init__(self, nome, matricula, idade, da, sh, htm):
        self.nome = nome
        self.matricula = matricula
        self.idade = idade
        self.data_admissao = da
        self.salario_hora = sh
        self.horas_trabalhadas_mes = htm

In [131]:
f1 = Funcionario('rychard', 123, 27, '01/01/2021', 10, 20)
f2 = Funcionario('joao', 456, 30, '01/01/2019', 10, 20)

In [132]:
print(f1.nome)
print(f1.salario_hora)
print(f1.idade)

print(f2.nome)
print(f2.salario_hora)
print(f2.idade)

rychard
10
27
joao
10
30

Cada objeto dessa classe terá funções (métodos) que são aplicados aos próprios objetos, tomando os atributos do objeto como referência. 

Por exemplo, podemos criar um método chamado `auxilio`. Caso seja solicitado auxílio a um determinado funcionário, ele deverá responder "pois não?" caso esteja disponível. Caso contrário, deverá responder com "desculpe, agora não posso".

In [135]:
class Funcionario:
    
    def __init__(self, nome, matricula, idade, da, sh, htm):
        self.nome = nome
        self.matricula = matricula
        self.idade = idade
        self.data_admissao = da
        self.salario_hora = sh
        self.horas_trabalhadas_mes = htm
        self.reuniao = False
        
    def ajuda(self):
        if self.reuniao == True:
            print('desculpa, estou em reunião, não posso ajudar')
        else:
            print('oi, estou disponível, em que posso ajudar?')

In [136]:
f1 = Funcionario('rychard', 123, 27, '01/01/2021', 10, 20)
f2 = Funcionario('joao', 456, 30, '01/01/2019', 10, 20)

In [137]:
print(f1.nome)
print(f1.salario_hora)
print(f1.idade)
print(f1.reuniao)

print(f2.nome)
print(f2.salario_hora)
print(f2.idade)
print(f2.reuniao)

rychard
10
27
False
joao
10
30
False

In [140]:
f1.reuniao = True

In [141]:
print(f1.nome)
print(f1.salario_hora)
print(f1.idade)
print(f1.reuniao)

print(f2.nome)
print(f2.salario_hora)
print(f2.idade)
print(f2.reuniao)

rychard
10
27
True
joao
10
30
False

In [142]:
f1.ajuda()

desculpa, estou em reunião, não posso ajudar

In [143]:
f2.ajuda()

oi, estou disponível, em que posso ajudar?

**Para exercitar**: Na classe Retângulo, crie um método para calcular a área desse retângulo. Em seguinda, crie um objeto dessa classe e calcule a área e a imprima em seguida.

In [150]:
class Retangulo:
    
    def __init__(self, lado_a, lado_b):
        self.lado_a = lado_a
        self.lado_b = lado_b
        
    def calcula_area(self):
        area = self.lado_a * self.lado_b
        return area

    def compara(self, outro):
        if self.calcula_area() > outro.calcula_area():
            print('o próprio é maior')
        elif self.calcula_area() < outro.calcula_area():
            print('o próprio é menor')
        else:
            print('ambos possuem áreas iguais')

In [151]:
r1 = Retangulo(2, 9)
print(r1.lado_a)
print(r1.lado_b)
print(r1.calcula_area())

2
9
18

In [152]:
r2 = Retangulo(4, 3)
print(r2.lado_a)
print(r2.lado_b)
print(r2.calcula_area())

4
3
12

In [153]:
r1.compara(r2)

o próprio é maior

In [154]:
r2.compara(r1)

o próprio é menor

**Para exercitar**: Crie uma classe Cliente cujos atributos são nome, idade, e-mail e início de relacionamento (data que virou cliente). Construa um método que imprima as informações.

In [157]:
class Cliente:
    
    def __init__(self, nome, idade, email, inicio_relacionamento):
        
        self.nome = nome
        self.idade = idade
        self.email = email
        self.inicio_relacionamento = inicio_relacionamento
        
    def visualizar_informacoes(self):
        print(self.nome)
        print(self.idade)
        print(self.email)
        print(self.inicio_relacionamento)
        
c1 = Cliente('rychard', 27, 'rychard.guedes@letscode', '01/01/2021')
c1.visualizar_informacoes()

rychard
27
rychard.guedes@letscode
01/01/2021

In [163]:
import datetime

data_1 = datetime.datetime.now()

In [164]:
print(data_1)

2021-07-07 18:31:06.232001

In [165]:
data_2 = datetime.datetime.now()
print(data_2)

2021-07-07 18:31:20.171896

In [167]:
data_1 < data_2

True

In [170]:
class Cliente:
    
    def __init__(self, nome, idade, email):
        self.nome = nome
        self.idade = idade
        self.email = email
        self.inicio_relacionamento = datetime.datetime.now()
        
    def visualizar_informacoes(self):
        print('nome:', self.nome)
        print('idade:', self.idade)
        print('email:', self.email)
        print('inicio de relacionamento:', self.inicio_relacionamento)
        
c1 = Cliente('rychard', 27, 'rychard.guedes@letscode')
c1.visualizar_informacoes()

nome: rychard
idade: 27
email: rychard.guedes@letscode
inicio de relacionamento: 2021-07-07 18:33:00.264461

**Para exercitar**: Na classe cliente, crie um método que recebe um outro cliente y e retorna True case o próprio tenha relacionamento mais antigo, e False caso y tenha relacionamento mais antigo.

In [175]:
class Cliente:
    
    def __init__(self, nome, idade, email):
        self.nome = nome
        self.idade = idade
        self.email = email
        self.inicio_relacionamento = datetime.datetime.now()
        
    def visualizar_informacoes(self):
        print('nome:', self.nome)
        print('idade:', self.idade)
        print('email:', self.email)
        print('inicio de relacionamento:', self.inicio_relacionamento)
        
    def mais_antigo(self, y):
        if self.inicio_relacionamento < y.inicio_relacionamento:
            return True
        else:
            return False

In [177]:
c2 = Cliente('maria', 40, 'maria@letscode')
c1 = Cliente('rychard', 27, 'rychard.guedes@letscode')

c1.mais_antigo(c2)

False

In [178]:
c1.visualizar_informacoes()

nome: rychard
idade: 27
email: rychard.guedes@letscode
inicio de relacionamento: 2021-07-07 18:36:21.299404

In [179]:
c2.visualizar_informacoes()

nome: maria
idade: 40
email: maria@letscode
inicio de relacionamento: 2021-07-07 18:36:21.299334

**Para exercitar**: Crie uma classe ContaCorrente com os atributos cliente (que deve ser um objeto da classe Cliente) e saldo, que sempre inicia zerado (0).

In [181]:
class ContaCorrente:
    
    def __init__(self, cliente):
        self.cliente = cliente
        self.saldo = 0
        
cc_1 = ContaCorrente(c1)
print(cc_1.saldo)

cc_2 = ContaCorrente(c2)
print(cc_2.saldo)

0
0

**Para exercitar**: Na classe ContaCorrente, crie métodos para depósito, saque e transferência. Os métodos de saque e transferência devem verificar se é possível realizar a transação.

1. ~depósito~
2. ~saque~
3. transferência

In [248]:
class ContaCorrente:
    
    def __init__(self, cliente):
        self.cliente = cliente
        self.saldo = 0
        
    def deposito(self, valor):
        if valor < 0:
            print('impossível fazer depósitos com valores negativos')
            return False
        else:
            self.saldo += valor
            return True
            
    def saque(self, valor):
        if valor < 0:
            print('impossível fazer saques com valores negativos')
            return False
        elif self.saldo < valor:
            print('saldo insuficiente, operacao não realizada')
            return False
        else:
            self.saldo -= valor
            return True
            
    def transferencia(self, conta_destino, valor): 
        
        realizada = self.saque(valor)
        
        if realizada == True:
            conta_destino.deposito(valor)
            return True
        
        else:
            print('operacao não realizada')
            return False
        
        
cc_1 = ContaCorrente(c1)
print(cc_1.saldo)

cc_2 = ContaCorrente(c2)
print(cc_2.saldo)

0
0

In [249]:
cc_1.deposito(100)

True

In [250]:
print(cc_1.cliente.nome, cc_1.saldo)
print(cc_2.cliente.nome, cc_2.saldo)

rychard 100
maria 0

In [251]:
cc_2.deposito(2000)

True

In [252]:
print(cc_1.cliente.nome, cc_1.saldo)
print(cc_2.cliente.nome, cc_2.saldo)

rychard 100
maria 2000

In [253]:
cc_1.deposito(-50)

impossível fazer depósitos com valores negativos

False

In [254]:
print(cc_1.cliente.nome, cc_1.saldo)
print(cc_2.cliente.nome, cc_2.saldo)

rychard 100
maria 2000

In [255]:
cc_1.saque(50)

True

In [256]:
print(cc_1.cliente.nome, cc_1.saldo)
print(cc_2.cliente.nome, cc_2.saldo)

rychard 50
maria 2000

In [257]:
cc_1.saque(1500)

saldo insuficiente, operacao não realizada

False

In [258]:
print(cc_1.cliente.nome, cc_1.saldo)
print(cc_2.cliente.nome, cc_2.saldo)

rychard 50
maria 2000

In [259]:
cc_2.saque(1500)

True

In [260]:
print(cc_1.cliente.nome, cc_1.saldo)
print(cc_2.cliente.nome, cc_2.saldo)

rychard 50
maria 500

In [261]:
cc_1.transferencia(cc_2, 20)

True

In [262]:
print(cc_1.cliente.nome, cc_1.saldo)
print(cc_2.cliente.nome, cc_2.saldo)

rychard 30
maria 520

In [263]:
cc_1.transferencia(cc_2, 100)

saldo insuficiente, operacao não realizada
operacao não realizada

False

In [264]:
print(cc_1.cliente.nome, cc_1.saldo)
print(cc_2.cliente.nome, cc_2.saldo)

rychard 30
maria 520